*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
out/

pay.property
free.property
*.jks

TODO
dist/
app/google-services.json

*.bbprojectd
